html {
    font-family: 'Varela Round', sans-serif;
}

body {
    color: #333333;
    background-color: #ffb69e;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fdf6c3;
    border-radius: 10px;
}

.wrapper {
    z-index: -1;
    height: 98%;
    width: 98%;
    position: absolute;
}

.topnav {
    width: 80%;
    height: 50px;
    margin-left: 270px;
}

    .topnav .search-container {
        float: right;
        display: flex;
        flex-direction: row;
    }

.link {
    width: 50px;
    height: 25px;
    padding: 6px;
    border-radius: 5px;
    background-color: #fff9c2;
    display: flex;
    margin-top: 8px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

    .link a {
        text-decoration: none;
        color: #ffb69e;
    }

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: #fff9c2;
    border: #333333 2px solid;
    border-radius: 5px;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #fff9c2;
    border: #333333 2px solid;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-left: 7px;
}

    .topnav .search-container button:hover {
        background: #ffb69e;
    }

.wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
}

div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
}

.wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}

.wrapper div:nth-child(3) {
    top: 40%;
    left: 10%;
    animation: animate 3s linear infinite;
}

.wrapper div:nth-child(4) {
    top: 66%;
    left: 10%;
    animation: animate 7s linear infinite;
}

.wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}

.wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
}

.wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
}

.wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
}

.wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
}

.wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
}

.wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(70deg);
    }

    100% {
        transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}
/* side bar */
.nav {
    display: flex;
    position: relative;
}

    .nav .Sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        background: #fff9c2;
        /* border-right: 1px solid #000000; */
        /* border-radius: 15px; */
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 10px 0px 0px 0px rgba(0,0,0,1);
        -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
        /* -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1); */
        /* border: #333333; */
        /* padding: 30px 0px; */
        left: 0%;
        top: 0%;
    }

        .nav .Sidebar h2 {
            color: #333333;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        .nav .Sidebar ul {
            padding-left: 0%;
        }

            .nav .Sidebar ul li {
                padding: 15px;
                /* padding-left: 0%; */
                border-bottom: 1px solid #333333;
                border-top: 1px solid rgba(225,225,225,0.05);
                list-style: none;
                /* position: fixed; */
                /* left: 0%; */
            }

                .nav .Sidebar ul li a {
                    color: #333333;
                    display: block;
                    text-transform: uppercase;
                    text-decoration: none;
                }

                    .nav .Sidebar ul li a .fa-solid {
                        width: 25px;
                    }

                .nav .Sidebar ul li:hover {
                    background-color: #ede6ab;
                }

                .nav .Sidebar ul li a:hover {
                    color: #eba891;
                    text-shadow: #000000;
                    font-size: 17px;
                    /* text-size-adjust: 10px; */
                }

.bottom {
    width: 80%;
    height: max-content;
    margin-left: 270px;
}

#keywords {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 50px;
}


    #keywords thead {
        cursor: pointer;
        background: #fdf6c3;
    }

        #keywords thead tr th {
            font-weight: bold;
            padding: 12px 30px;
            padding-left: 42px;
        }

            #keywords thead tr th span {
                padding-right: 20px;
                background-repeat: no-repeat;
                background-position: 100% 100%;
            }

            #keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
                background: #acc8dd;
            }

                #keywords thead tr th.headerSortUp span {
                    background-image: url('https://i.imgur.com/SP99ZPJ.png');
                }

                #keywords thead tr th.headerSortDown span {
                    background-image: url('https://i.imgur.com/RkA9MBo.png');
                }


    #keywords tbody tr {
        color: #555;
    }

        #keywords tbody tr td {
            text-align: center;
            padding: 15px 10px;
        }

            #keywords tbody tr td.lalign {
                text-align: left;
            }

td a {
    color: #fdf6c3;
}
